body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: Sans;
    color: var(--white);
    overflow: hidden;
    background: var(--mainBg);
  }

.main {
  flex: 1;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1525px;
    height: 100%;
    padding: 0 20px;
    margin: 0 auto;
}