@use "./header/header.scss";
@use "./footer/footer.scss";

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 53px 0;
  height: 369px;
  padding: 0 32px;

  @keyframes glowing {
    0% {
      filter: brightness(1) saturate(1);
    }
    50% {
      filter: brightness(1.5) saturate(1.5);
    }
    100% {
      filter: brightness(1) saturate(1);
    }
  }


  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    animation: glowing 3s ease-in-out infinite;
  }

  &__description {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;

    &-title {
      font-weight: 700;
      font-size: 75px;
      text-align: center;
      color: #fff;
    }

    &-text {
      font-weight: 700;
      font-size: 38px;
    }
  }
}

.slider {
  position: relative;
  margin: 0 0 149px;

  &__info {
    z-index: 2;
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 1164px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--white);
    padding: 20px;
    height: 167px;
    color: var(--textGrey);
    font-size: 20px;
    font-style: italic;

    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      transform: translateY(-50%);
      width: 245px;
      height: 68px;
      border-radius: 167px;
      background: var(--darkBlue);
      color: var(--white);
      font-style: normal;
      padding: 17px 25px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    &-btn:hover {
      background: var(--blue);
      font-size: 22px;
    }
  }

  .swiper-slide {
    height: 604px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-button-next {
    right: 30px;
    width: 50px;
    height: 100px;
    cursor: pointer;
  }
}

.rest {
  width: 100%;
  padding: 30px 70px;
  background: var(--bgGrey);
  margin: 0 0 49px;

  &__content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    column-gap: 18px;
  }

  &__img {
    display: inline-block;
    height: 100%;

    img {
      object-fit: cover;
      width: 100%;
      min-height: 100%;
    }
  }

  &__description {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: var(--mainBg);
    font-size: 26px;
    text-align: center;
    color: var(--textGrey);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  width: 100%;
  max-width: 518px;
  margin: 0 auto 50px;
  background: var(--bgLightGrey);

  &__inputs {
    display: flex;
    flex-direction: column;
    padding: 20px 55px 0;
  }

  &__title {
    font-size: 36px;
    text-align: center;
    color: var(--textGrey);
    margin: 0 0 31px;
  }

  label {
    font-size: 30px;
    color: var(--textGrey);
    margin: 0 0 16px;
  }

  input {
    width: 100%;
    padding: 18px 28px;
    background: var(--white);
    color: var(--textGrey);
    margin: 0 0 16px;

    &:last-child {
      margin: 0 0 36px;
    }

    &::placeholder {
      font-size: 20px;
      color: var(--placeholder);
    }

    &:focus {
      border: 1px solid var(--textGrey);
    }
  }

  button {
    width: 100%;
    height: 104px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--darkBlue);
    font-size: 36px;
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      font-size: 38px;
      background: var(--blue);
    }
  }
}

@media (max-width: 768px) {
  .slider {
    margin: 0 0 40px;

    &__info {
      height: auto;
      padding: 40px 20px 40px;
    }

    .swiper-button-next {
      top: 40%;
    }
  }
  .rest {
    padding: 16px;

    &__content {
      grid-template-columns: 1fr;
      row-gap: 16px;
     }
  }
}

@media (max-width: 576px) {
 .hero {
  &__description-title {
    font-size: 48px;
  }

  &__description-text {
    font-size: 22px;
  }
 }

 .slider {
  .swiper-slide {
    height: 800px;
  }
 }

 .rest {
  padding: 0;
 }

 .form {
  &__inputs {
    padding: 16px;
  }

  label {
    font-size: 22px;
  }

  button {
    font-size: 28px;

    &:active {
      font-size: 30px;
    }
  }
 }
}
