:root {
    --red: red;
    --darkBlue: #202846;
    --blue: rgb(91, 91, 213);
    --white: white;
    --mainBg:#dcdcdc;;
    --textGrey: #202846;
    --textGreylight: #323236;
    --black: #000;
    --textHovered: #b9b0b0;
    --bgGrey: rgba(193, 193, 195, 0.9);
    --bgLightGrey: #f2eeee;
    --placeholder: #90a4ae;
}