.header {
  width: 100%;
  background: var(--darkBlue);

  &__container {
    width: 100%;
    max-width: 1790px;
    margin: auto;
    padding: 10px 65px;
    height: fit-content;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 178px;
    height: 70px;
    cursor: pointer;
  }

  &__nav {
   display: grid;
   grid-template-columns: repeat(6,1fr);

    &-item {
      font-family: Sans;
      font-weight: 700;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--white);
      padding: 0 10px;
      cursor: pointer;
      transition: transform .3s ease-in-out;
      border-right: 2px solid var(--white);
      border-left: 2px solid var(--white);
    }

    &-item:first-child {
        border-left: none;
    }

    &-item:last-child {
        border-right: none;
    }

    &-item:hover {
        text-decoration: underline;
        transform: scale(1.01);
    }

    &-item-languages {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
    }

    &-item-icon {
        width: 60px;
        height: 60px;
    }
  }
}
