.header {
  width: 100%;
  background: var(--darkBlue);
  overflow: hidden;

  &__container {
    width: 100%;
    max-width: 1790px;
    margin: auto;
    padding: 10px 65px;
    height: fit-content;
    min-height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 178px;
    height: 70px;
    cursor: pointer;
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    &-item {
      font-family: Sans;
      font-weight: 700;
      font-size: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      color: var(--white);
      padding: 0 10px;
      cursor: pointer;
      transition: transform 0.3s ease-in-out;
      border-right: 2px solid var(--white);
      border-left: 2px solid var(--white);

      &.active {
        color: var(--textHovered);
        font-size: 26px;
      }
    }

    &-item:first-child {
      border-left: none;
    }

    &-item:last-child {
      border-right: none;
    }

    &-item:hover {
      text-decoration: underline;
      transform: scale(1.01);
      color: var(--textHovered);
    }

    &-item-languages {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
    }

    &-item-icon {
      width: 60px;
      height: 60px;
    }
  }
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  right: -100%;
}

.burger {
  z-index: 1000;
  width: 40px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

  span {
    width: 100%;
    height: 5px;
    background-color: var(--white);
    border-radius: 5px;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
}

@media (max-width: 1180px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav {
      display: none;
    }
  }
  .mobile-menu {
    z-index: 100;
    flex-direction: column;
    row-gap: 12px;
    background: var(--darkBlue);
    padding: 112px 32px 32px 32px;
    transition: all 0.4s ease-in-out;

    &__item {
      cursor: pointer;
      color: var(--white);
      text-decoration: none;
      font-weight: 700;
      font-size: 20px;
    }

    &__item:active {
      text-decoration: underline;
      font-size: 22px;
    }
  }

  .burger {
    display: flex;
  }
}

@media (max-width: 768px) {
  .header {
    &__container {
      padding: 10px 24px;
    }
  }
}
